* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #db302a 0%, #62186b 100%) no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
